$white: #ffffff;
$indigo--lighten-5: #e8eaf6;
$dark-blue: #192867;
$dark-blue--lighten:  rgba(234, 238, 250, 0.4);
$teal--darken-4: #004d40;
$cyan--darken-2: #0097A7;
$green: #4caf50;
$green--lighten-5: #e8f5e9;
$blue-grey: #607d8b;
$blue-grey--lighten-5: #eceff1;
$red: #f44336 ;
// ???
$dark-blue-gradient: linear-gradient(to left,  #233990 5%, #142052 100%);

$grey-white: #f0f0f1;
$grey-white--2: #fafafa;
$grey: #4a4a4a;
$black: #2d2e2c;

$body-font-family: 'Montserrat', sans-serif !important;
