$white: #ffffff;
$grey-white: #f0f0f1;
$grey-white--2: #fafafa;
$grey-white--3: #fdfdfd;
$grey: #4a4a4a;
$black: #2d2e2c;
$grey--2: #9ea0a5;
$primary: #208a78;
$primary--bg: #e3f0ee;
$red: #d35847 ;
$green: #208A78;

$body-font-family: 'Montserrat', sans-serif !important;
$title-font: 'Montserrat', sans-serif !important;
