$white: #ffffff;
$indigo--lighten-5: #e8eaf6;
$dark-blue: #192867;
$teal--darken-4: #004d40;
$cyan--darken-2: #0097A7;
$green: #4caf50;
$green--lighten-5: #e8f5e9;
$blue-grey: #607d8b;
$blue-grey--lighten-5: #eceff1;
$red: #f44336 ;

$grey-white: #f0f0f1;
$grey-white--2: #fafafa;
$grey: #4a4a4a;
$grey--2: #9ea0a5;
$black: #2d2e2c;
$primary: #208a78;
$primary--bg: #e3f0ee;

$body-font-family: 'Montserrat', sans-serif !important;
