.v-content__wrap {
  background-color: $grey-white--2;
}

.border-right-divider {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.border--grey {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.v-divider--custom {
  border: 1px dotted transparent !important;
  background-image: radial-gradient(circle at 2px, #4a4a4a 1px, rgba(255,255,255,0) 1px);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.border-none {
  border: none !important;
}

.custom-before-underline {
  &:before {
    background-color: $primary !important;
    height: 2px !important;
    width: 100% !important;
    top: calc(100% - 2px) !important;
    opacity: 1 !important;
  }
}

@media (min-width: 1904px) {
  .container--custom {
    max-width: 1185px !important;
  }
}

@media (max-width: 959px) {
  .cards-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

