.btn--alt {
   @extend .text-transform-none;
   @extend .font-weight-semi-bold;
   background-color: $white !important;
   border: 2px solid $grey--2 !important;
   color: $black !important;
}

//.v-btn.v-size--default, .v-btn.v-size--large {
//   font-size: 14px !important;
//}
