input, .v-input {
  font-size: 14px !important;
}

.v-label {
  color: $grey--2 !important;
  font-size: 14px !important;
  font-weight: 500;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.v-text-field.v-input--has-state > .v-input__control > .v-input__slot:before {
  border-color: $red !important;
}

.required {
  position: relative;

  &:after {
    content: ' *';
    color: $red;
    position: absolute;
    top: 0;
    right: -12px;
  }
}