.theme--light.v-tabs > .v-tabs-bar {
 background-color: $grey-white--2 !important;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab {
  margin-right: 3px;
}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon,
.theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  background-color: $grey-white--3 !important;
  box-shadow: inset 0 -5px 5px -10px rgba(0, 0, 0, 0.02) !important;
}
