html,
body,
.v-application {
  font-family: $body-font-family;
  font-weight: 500;
}

body .v-application .title {
  font-family: $body-font-family;
}

.theme--light.v-application {
  color: $black !important;
}

.word-break {
  word-break: break-all;
}

.fs-70 {
  font-size: 70px;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-40 {
  font-size: 40px !important;
}


.fs-30 {
  font-size: 30px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.text-transform-none {
  text-transform: none !important;
}

.text-underline {
  text-decoration: underline !important;
  background: white;
}

@media (max-width: 599px) {
  .fs-50 {
    font-size: 26px !important;
  }

  .fs-40 {
    font-size: 26px !important;
  }

  .fs-35 {
    font-size: 26px !important;
  }

  .fs-30 {
    font-size: 20px !important;
  }

  .fs-20 {
    font-size: 16px !important;
  }
}
