.cyan--darken-2--bold {
  font-weight: 700 !important;
  color: $cyan--darken-2 !important;
}

.teal--darken-4--bold {
  font-weight: 700 !important;
  color: $teal--darken-4 !important;
}

.word-break {
  word-break: break-all;
}
